@model IEnumerable<Phonebook.Entities.Contact>

@{
    ViewData["Title"] = "AllContacts";
}

<h3 style="background-color: #007bff">All Contacts</h3>

<hr />

<table class="table" bgcolor="#d5f5f3">
    <thead>
        <tr bgcolor="#007bff">
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Surname)
                </td>                
                <td>
                    <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.Id">Details</a>

                </td>
            </tr>
        }
    </tbody>
</table>
